@font-face {
    font-family: "PixelMplus12";
    src: url("../fonts/PixelMplus12.ttf") format("truetype");
    }

body {
    font-family: "PixelMplus12";
    background-color: lightslategray;
    color: rgb(79, 120, 156);
}

header {
    width: 100%;
    height: 80px;
    background: #CCC;
    padding: 20px 50px 20px 0px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 24px;
}

footer {
    width: 100%;
    height: 80px;
    background: #CCC;
    padding: 20px 50px 10px 20px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    font-size: 24px;
}

.img {
    margin: 10px;
}

